/* body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
} */

:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;


  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

}
.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}
body {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 60vh;
}
.flex-containor {
background-color: var(--gray);
}


