/* body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
} */

:root {
  --black: #000;
  --light-blue: #C9DCAF;
  --dark-blue: #BF9E86;
  --light-red: #CEC9DF;
  --dark-red: #FDF1CA;
  --gray: #252c30;


  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

}
.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.cool {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}
body {
  background-color: var(--primary);
}
.main {
  background-color: var(--secondary);
  height: 60vh;
}
.flex-containor {
background-color: var(--gray);
}
#popbtn, #simbtn, #ratebtn, #datebtn, #main {
  
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Josefin Sans', sans-serif;
  
}

#card_form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35vh; 
  margin: 40px;
}

